*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#clearfix::after{
  content: "";
  display: table;
  clear: both;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}

.wall{
  /* margin: auto; */
  width: 100%;
  height: 100vh;
  background-color: #F5F8FA;
}

#top-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 150px; */
  background-color: orange;
  border-bottom: 1px solid black;
}
.container{
  margin: auto;
  width: 68%;
  height: 80px;
  background-color: lightgray;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
li.top-left{
  float: left;
  padding-right: 10px;
}
li.top-right{
  float: right;
  padding-left: 10px;
}
#top-h li, #bottom-h li, .bottom-left{
  line-height: 80px;
  vertical-align: middle;
}

#bottom-header{
  margin: 80px auto 0 auto;
  width: 68%;
  height: 80px;
  background-color: yellow;
}
.bottom-left{
  float: left;
}
li.bottom-right{
  float: right;
  padding-left: 10px;
}

#jumbotron{
  background-image: url("../img/jumbotron.png");
  width: 100%;
  height: 695px;
}
#jumbo-section{
  margin: 0 0 0 16%;
  width: 25%;
  height: 425px;
  background-color: orange;
  /* padding: 20px 0; */
}

#section1{
  width: 68%;
  margin: auto;
  text-align: center;
  margin: 7% auto 6% auto;
}
.section1-img{
  background-image: url("../img/integrations.png");
  width: 250px;
  height: 180px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 7% auto 1% auto;
}

#section2{
  background-color: green;
  width: 68%;
  height: 300px;
  margin: 0 auto 4%;
}
.section2-content1{
  background-color: blue;
  height: 100%;
  width: 35%;
}
.section2-content1 button{
  margin: 0 43%
}
.section2-content2{
  background-color: lightblue;
  height: 100%;
  width: 65%;
}
.section2-img{
  background-image: url("../img/crm.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 170px;
  height: 150px;
  margin: 20% auto 0;
}
.section2-content1, .section2-content2{
  float: left;
}

#column{
  background-color: gray;
  width: 68%;
  height: 600px;
  margin: 0 auto 7%;
}
