*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.box-layout{
box-shadow: 3px 3px 15px 5px #E6ECF1;
border: 2px solid #E6ECF1;
border-radius: 7px;
}
body, main{
  /* background-color: white; */
  background-color: #F4F9FD;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0px;
  color: #32495B;
}
header, a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  color: #32495B;
}
h1{
  padding-top: 30px;
  font-size: 45px;
}
h2{
  font-size: 27px;
  font-weight: 700;
}
p{
  line-height: 1.8;
  margin: 30px 0;
  font-weight: 500;
}
li, a{
  list-style: none;
  text-decoration: none;
}
/* ----------------------------------------------------------------- */
/* <!-- parte fissa dell'header --> */
#top-header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  /* height: 150px; */
  background-color: #F4F9FD;
  border-bottom: 1px solid black;
}
.container{
  margin: 0 auto;
  width: 70%;
  height: 100%;
  background-color: #F4F9FD;
}
#top-h li, #bottom-h li, .bottom-left{
  line-height: 79px;
  vertical-align: middle;
}
li.top-left{
  float: left;
  padding-right: 10px;
}
li.top-right{
  float: right;
  padding-left: 15px;
}
  /* sezione pulsanti */
a.btn{
  display: inline-block;
  padding: 10px;
  border: 1px solid #FE775A;
  border-radius: 5px;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
}
a.btn:hover{
  text-decoration: none;
}
a.btn-orange{
  background-color: #FE775A;
  color: white;
}
a.btn-orange:hover{
  background-color: rgba(254, 119, 90, 0.8);
}
a.btn-white{
  background-color: white;
  color: #FE775A;
}
a.btn-white:hover{
  background-color: rgba(255, 255, 255, 0.1);
}
  /* /sezione pulsanti */
.search-icon{
  color: #00A4BD;
}
/* <!-- /parte fissa dell'header --> */
/* ----------------------------------------------------------------- */
/* <!-- seconda parte header --> */
.bg-bottom-header{
  background-color: white;
}
#bottom-header{
  margin: 80px auto 0 auto;
  width: 70%;
  height: 80px;
  background-color: white;
}
#logo{
  float: left;
  width: 100px;
  height: 29px;
  margin: 25px 0;
}
li.bottom-right{
  float: right;
  padding-left: 10px;
}
.bottom-right a{
  margin-right: 2px;
  margin-left: 5px;
}
/* <!-- /seconda parte header --> */
/* ----------------------------------------------------------------- */
/* <!-- jumbotron --> */
#jumbotron{
  position: relative;
  background-color: #FFF6EF;
  width: 100%;
  height: 695px;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-position: top right;
}
#jumbotron::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 77px;
  background-color: #A5E8E0;
  border-top: 3px solid #33475C;
  border-bottom: 3px solid #33475C;
}
#jumbo-section{
  margin: auto;
  width: 70%;
  /* height: 425px; */
  /* background-color: pink; */
  /* padding: 20px 0; */
}
.jumbo-text{
  width: 50%;
}
p.small{
  font-size: 12px;
}
#jumbo-section a{
  padding: 20px 30px;
}
/* <!-- /jumbotron --> */
/* ----------------------------------------------------------------- */
/* <!-- prima sezione del main --> */
#section1{
  width: 55%;
  margin: auto;
  text-align: center;
  margin: 7% auto 4% auto;
}
.section1-img{
  background-image: url("../img/integrations.png");
  width: 250px;
  height: 180px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto 1% auto;
}
/* <!-- /prima sezione del main --> */
/* ----------------------------------------------------------------- */
/* <!-- seconda sez del main --> */
#section2{
  background-color: white;
  width: 70%;
  height: 300px;
  margin: 0 auto 3%;
}
#section2-content1{
  position: relative;
  /* background-color: blue; */
  height: 100%;
  width: 35%;
}
#section2-content1, #section2-content2{
  float: left;
}
.section2-img{
  background-image: url("../img/crm.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 140px;
  height: 120px;
  margin: 15% auto 0;
}
#section2-content1 a{
  position: absolute;
  float: none;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 35px;
}
#section2-content2{
  /* background-color: lightblue; */
  padding: 4% 0;
  height: 100%;
  width: 65%;
}
/* ----------------------------------------- */
  /* pomeriggio perso solo su sta cosa.... */
#section2-content2 h3{
  display: flex;
  flex-direction: row;
}
#section2-content2 h3::after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #899397;
  margin: auto 40px;
}
/* ----------------------------------------- */
.check-circle li{
  display: inline-block;
  margin: 30px 20px 0 0;
  font-weight: 500;
}
.check-circle i{
  color: #FE775A;
  margin-right: 7px;
}
/* <!-- /seconda sez del main --> */
/* ----------------------------------------------------------------- */
/* <!-- terza sezione del main --> */
#column{
  /* background-color: gray; */
  /* height: 600px; */
  width: 70%;
  margin: 0 auto 4%;
}
#column div{
  position: relative;
  background-color: white;
  width: 31%;
  height: 600px;
  float: left;
  padding: 3%;
}
#column img{
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto 10%;
}
#column h2{
  text-align: center;
  font-size: 21px;
}
#column p{
  text-align: center;
  font-size: 12.2px;
  font-weight: 600;
  border-bottom: 2px solid #899397;
  padding-bottom: 50px;
}
#column h3{
  text-align: center;
  font-size: 17px;
  margin-bottom: 15px;
}
#column li{
  font-size: 13px;
  font-weight: 600;
}
#column a{
  padding: 20px 30px;
  float: none;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* divertiamoci coi selettori ahahah */
#column > .box-layout > ul > li > i{
  color: #FE775A;
}
.column2{
  margin: 0 3%;
}
/* <!-- /terza sezione del main --> */
/* ----------------------------------------------------------------- */
/* <!-- quarta sezione del main --> */
#section4{
  background-image: linear-gradient(to top right, #00A7BA, #00BBA8);
  color: white;
  width: 100%;
  height: 650px;
  margin-bottom: 4%;
}
.section-gradient{
  text-align: center;
  width: 70%;
  margin: auto;
  padding: 3% 0;
}
.gradient-table{
  border-collapse: collapse;
  width: 100%;
}
.gradient-table td{
  width: 24%;
  text-align: center;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}
.gradient-table img{
  display: block;
  margin: 18px auto 0;
  width: 120px;
  height: 33px;
}
.gradient-table p{
  margin: 4px 0;
}
.gradient-table p.numbers{
  display: inline-block;
  font-size: 40px;
  font-weight: 700;
  /* margin-top: 15px; */
}
p span{
  font-size: 30px;
  font-weight: 400;
  vertical-align: middle;
  padding-left: 5px;
}
.gradient-table p.text{
  font-size: 12px;
  margin-bottom: 18px;
}
.box-left {
  border-left: none;
}
#box-bottom td{
  border-bottom: none;
}
/* <!-- /quarta sezione del main --> */
/* ----------------------------------------------------------------- */
/* <!-- quinta sezione del main --> */
#section5{
  background-color: #F4F9FD;
  width: 100%;
  height: 650px;
  margin-bottom: 1%;
}
#section5 .girl-pic-section{
  /* background: gray; */
  height: 650px;
  width: 70%;
  margin: auto;
  /* padding: 3% 0; */
}
#section5 .partners{
  /* background: lightgray; */
  height: 200px;
  width: 88%;
  margin: auto;
}
.partners > .left-partners{
  float: left;
  /* background: darkgray; */
  height: 200px;
  width: 220px;
}
.left-partners h2{
  font-size: 40px;
}
.left-partners p{
  font-size: 14px;
}
.partners > .right-partners{
  float: right;
  /* background: darkgray; */
  height: 120px;
  width: 500px;
}
.right-partners .partners-logo{
  position: relative;
  float: left;
  width: 125px;
  height: 60px;
}
.right-partners img{
  position: absolute;
  float: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
}
#section5 .left-girl-pic{
  float: left;
  /* background: lime; */
  width: 490px;
  height: 390px;
  margin-top: 50px;
}
.left-girl-pic h2{
  font-size: 27px;
}
.left-girl-pic p{
  font-size: 14px;
  font-weight: 600;
}
.left-girl-pic a{
  padding: 20px 30px;
  margin-top: 30px;
}
.left-girl-pic > p:last-child{
  font-size: 11px;
  margin-top: 60px;
}
#section5 .right-girl-pic{
  float: right;
  /* background: lime; */
  width: 400px;
  height: 390px;
  margin-top: 18px;
}
.right-girl-pic img{
  float: right;
  width: 350px;
  height: 390px;
}
/* <!-- /quinta sezione del main --> */
/* ----------------------------------------------------------------- */
/* <!-- prima sezione footer --> */
#bg-footer{
  background-color: #32495B;
  width: 100%;
  height: 600px;
  color: #FAFAFB;
}
#container-footer{
  /* background-color: gray; */
  margin: 0 auto;
  width: 70%;
  height: 100%;
}
.top-footer{
  /* background-color: lime; */
  width: 100%;
  height: 380px;
}
.top-footer .column-footer{
  float: left;
  /* background-color: green; */
  width: 19%;
  height: 380px;
  margin-right: 6%;
}
.column-footer h4{
  font-size: 13.5px;
  font-weight: 800;
  margin: 50px 0 30px 0;
}
.column-footer p{
  color: #C6D1DD;
  font-size: 11.5px;
  font-weight: 600;
  margin-bottom: -16px;
}
.column-footer > a.footer-btn{
  display: inline-block;
  border: 1px solid #32495B;
  border-radius: 5px;
  font-size: 11.5px;
  font-weight: 600;
  text-decoration: none;
  color: #32495B;
  background-color: #C6D1DD;
  margin-top: 37px;
  padding: 15px 10px;
}
.column-footer ul{
  margin-top: 25px;
}
.column-footer li{
  display: inline-block;
  padding-right: 16px;
}
.column-footer > a.footer-btn:hover{
  background-color: rgba(255, 255, 255, 0.7);
}
.column-footer > ul a{
  color: #FAFAFB;
}
/* <!-- /prima sezione footer --> */
/* ----------------------------------------------------------------- */
/* <!-- seconda sezione footer --> */
.bottom-footer{
  /* background-color: yellow; */
  height: 220px;
  width: 100%;
  /* color: #FAFAFB; */
}
.bottom-footer #languages-list{
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #FAFAFB;
}
#languages-list li{
  display: inline-block;
  padding: 40px 0 15px;
  margin-right: 10px;
}
#languages-list a{
  color: #FAFAFB;
}

.copyright{
  float: left;
  /* background: gray; */
  width: 50%;
  height: 140px;
  padding-top: 40px;
}
.copyright p{
  margin: 0;
}
.privacy{
  float: right;
  /* background: lightgray; */
  width: 50%;
  height: 140px;
  padding-top: 40px;
}
.privacy li{
  float: right;
  display: inline-block;
  margin-left: 15px;
}
.privacy > ul > li > a{
  color: #FAFAFB;
}
/* <!-- /seconda sezione footer --> */
